<tr>
  <th scope="row">
    <label for="{{field.name}}" type="text">{{field.label}}</label>
  </th>
  <td>
    <input name="{{field.name}}" type="{{field.type|default('text')}}" class="regular-text" value="{{field.value}}"/>
    <p class="description">{{field.description}}</p>
  </td>
</tr>

