{% set metadata = {
  "share_title":       not post.share_title ? post.share_title : post.short_headline | default(wp_title | default(site.name)),
  "share_description": not post.share_description ? post.share_description : post.sell | default(site.description),
  "share_image":       TimberImage(post.share_image).src | default(TimberImage(post.hero_images[0]).src | default(options.default_share_image.url)),
} %}

{% if brand == 'sh' %}
  {% set apikey = 'shortlist.com' %}
{% else %}
  {% set apikey = 'stylist.co.uk' %}
{% endif %}

<html lang="en" prefix="op: http://media.facebook.com/op#">
  <head>
    <meta charset="utf-8">
    <meta property="op:markup_version" content="v1.0">
    <meta property="fb:article_style" content="default">
    <meta property="fb:use_automatic_ad_placement" content="true">
    <meta property="og:title" content="{{ post.short_headline }}">
    <meta property="og:description" content="{{ post.sell }}">
    <meta property="og:image" content="{{ metadata.share_image }}">
    <link rel="canonical" href="{{canonical_url}}">
  </head>
  <body>
    <article>
      <figure class="op-tracker">
        <iframe>
          <script>
            PARSELY = {
              autotrack: false,
              onload: function() {
                PARSELY.beacon.trackPageView({
                  urlref: 'http://facebook.com/instantarticles'
                });
                return true;
              }
            }
          </script>
          <div id="parsely-root" style="display: none">
            <span id="parsely-cfg" data-parsely-site="{{apikey}}"></span>
          </div>
          <script>
            (function(s, p, d) {
            var h=d.location.protocol, i=p+"-"+s,
            e=d.getElementById(i), r=d.getElementById(p+"-root"),
            u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
            :"static."+p+".com";
            if (e) return;
            e = d.createElement(s); e.id = i; e.async = true;
            e.src = h+"//"+u+"/p.js"; r.appendChild(e);
            })("script", "parsely", document);
          </script>
        </iframe>
      </figure>
      <header>
        <figure>
          <img src="{{TimberImage(post.hero_images[0]).src('landscape')}}" />
        </figure>
        <h3 class="op-kicker">
          {{post_category}}
        </h3>
        {% if post.title | length < 250 %}
          {% set display_title = post.title %}
        {% else %}
          {% set display_title = post.short_headline %}
        {% endif %}
        <h1>{{ post.short_headline }}</h1>
        <address>
          {{post.author.display_name}}
        </address>
        <time class="op-published" dateTime="{{ post_date|date("d-M-Y") }}">
          {{ post_date }}
        </time>

        <section class="op-ad-template">
          <!-- Ads to be automatically placed throughout the article -->
          {% for advert in adverts.body %}
            {{ advert }}
          {% endfor %}
        </section>
      </header>

      <!-- The top ad to load before the content widgets -->
      {# {{ adverts.head }} #}
