{% set metadata = {
  "share_title":       not post.share_title ? post.share_title : post.short_headline | default(wp_title | default(site.name)),
  "share_description": not post.share_description ? post.share_description : post.sell | default(site.description),
  "share_image":       TimberImage(post.share_image).src | default(TimberImage(post.hero_images[0]).src | default(options.default_share_image.url)),
} %}

<html lang="en" prefix="op: http://media.facebook.com/op#">
  <head>
    <meta charset="utf-8">
    <meta property="op:markup_version" content="v1.0">
    <meta property="fb:article_style" content="default">
    <meta property="fb:use_automatic_ad_placement" content="enable=true ad_density=default">
    <meta property="og:title" content="{{ post.short_headline }}">
    <meta property="og:description" content="{{ post.sell }}">
    <meta property="og:image" content="{{ metadata.share_image }}">
    <link rel="canonical" href="{{canonical_url}}">
  </head>
  <body>
    <article>
         <!-- Analytics code for your article -->
        <figure class="op-tracker">
            <iframe>
                <script type="text/javascript">
                    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
                        // Load with segment write key
                        analytics.load("{{SEGMENT_WRITE_KEY}}");
                        // Load with custom page properties
                        analytics.page(
                        // Parsley 'Properties' object
                        {
                            title: ia_document.title,
                            url: ia_document.shareURL,
                            referrer: ia_document.referrer,
                            Platform: 'FBInstantArticle'
                        },
                        // Parsely 'Context' Object
                        {
                            campaign: {
                                source: 'social',
                                medium: 'm.facebook.com'
                            }
                        })
                    }}();
                </script>
                <!-- END Parse.ly Include: Standard -->
            </iframe>
        </figure>
      <header>
        <figure>
          <img src="{{TimberImage(post.hero_images[0]).src('landscape')}}" />
        </figure>
        <h3 class="op-kicker">
          {{post_category}}
        </h3>
        {% if post.title | length < 250 %}
          {% set display_title = post.title %}
        {% else %}
          {% set display_title = post.short_headline %}
        {% endif %}
        <h1>{{ post.short_headline }}</h1>
        <address>
          {{post.author.display_name}}
        </address>
        <time class="op-published" dateTime="{{ post_date|date("d-M-Y") }}">
          {{ post_date }}
        </time>

        <section class="op-ad-template">
        {% for advert in adverts %}
            <figure class="op-ad {{ loop.first ? 'op-ad-default' }}">
                <iframe src="{{ advert.web_base_url }}/advert?zone={{ advert.zone }}&sizes=300,250&pos=midarticle&is_article=yes&type=article&post_id={{ post.ID }}&post_slug={{ post.slug }}&path={{ advert.path }}&platform=fb-instant" height="300" width="250"></iframe>
            </figure>
        {% endfor %}
        </section>
      </header>

      <!-- The top ad to load before the content widgets -->
      {# {{ adverts.head }} #}
