{% if image %}
    <figure>
        <img src="{{ image }}"/>
        {% if caption %}
            <figcaption class="op-vertical-below">
                <h1>{{ heading }}</h1>
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
{% elseif caption %}
    <p>
        {{ heading }}
    </p>
    <p>
        {{ caption }}
    </p>
{% endif %}